{% extends "base.html" %}
{% block title %}404{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-1 text-white">4<img src="../../static/assets/root/images/bracelet.png"
                                               style="width: 50px; filter: invert(100%);">4</h1>
        <h2 class="mb-4 text-white">Oops! Page not found.</h2>
        <p class="text-white">It seems the page you're looking for doesn't exist. You can go back to the <a href="/"
                                                                                                         class="text-white">home
            page</a>.
        </p>
    </div>
</div>
{% endblock %}