<div class="container p-4">
  <section class="mb-5 mt-3">
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fa-brands fa-facebook fab text-2e"></i>
    </a>
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fab fa-twitter text-2e"></i>
    </a>
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fab fa-google text-2e"></i>
    </a>
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fab fa-instagram text-2e"></i>
    </a>
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fab fa-linkedin-in text-2e"></i>
    </a>
    <a data-mdb-ripple-init class="btn btn-outline btn-floating m-1" href="#" role="button">
      <i class="fab fa-github text-2e"></i>
    </a>
  </section>

  <section class="">
    <form action="">
      <div class="row d-flex justify-content-center">
        <div class="col-auto">
          <p class="pt-2">
            <strong>Sign up for our newsletter</strong>
          </p>
        </div>
        <div class="col-md-5 col-12 mb-5">
          <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" id="form5Example24" class="custom-input" placeholder="JohnDoe@gmail.com"/>
            <label class="form-label" for="form5Example24">Email address</label>
          </div>
        </div>
        <div class="col-auto">
          <button data-mdb-ripple-init type="submit" class="btn btn-outline mb-4 text-2e btn-border-white btn-border custom-btn">
            Subscribe
          </button>
        </div>
      </div>
    </form>
  </section>
  <section class="">
    <div class="row">
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Jewelry Collections</h5>
        <ul class="mb-0">
          <li>
            <a class="text-2e" href="#!">Engagement Rings</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Wedding Bands</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Necklaces & Pendants</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Earrings</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Accessories</h5>
        <ul class="mb-0">
          <li>
            <a class="text-2e" href="#!">Watches</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Bracelets</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Rings</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Sunglasses</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">Customer Support</h5>
        <ul class="mb-0">
          <li>
            <a class="text-2e" href="#!">Shipping & Returns</a>
          </li>
          <li>
            <a class="text-2e" href="#!">FAQs</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Size Guide</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-3">About Us</h5>
        <ul class="mb-0">
          <li>
            <a class="text-2e" href="#!">Our Story</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Sustainability</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Careers</a>
          </li>
          <li>
            <a class="text-2e" href="#!">Press</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
<div class="text-center p-3 text-white bg-dark.bg-gradient mt-5">
  Want to create websites like this?
  <br>
  <br>
  <a class="text-reset fw-bold mb-2" href="https://www.tbceducation.ge/" target="_blank">
    <img src="../../static/assets/root/images/core/tibisi.png" class="tibisi-logo" alt="TBC logo"/>
  </a>
  <br>
  <br>
   Start your coding adventure now!
</div>
<div class="text-center p-3 text-white bg-dark.bg-gradient mt-2">
  © 2024 Copyright:
  <a class="text-reset fw-bold" target="_blank" href="https://github.com/KiwiScreams?tab=repositories">SLM</a>
  <br>
Designed by <a class="text-reset fw-bold" target="_blank" href="https://www.figma.com/community/file/1180422855487357241/jewellery-app-landing-page-ui" style="color: #fff; text-decoration: none;">Figma</a></div>
